<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Forum</title>
</head>
<body id="body">
    <div class="container" id="container"></div>

    <div id="mainPage" style="display:none;">
        <nav id="navigateur">
            <form id="logout">
                <button type="submit" id="logoutButton">Logout</button>
            </form>
            <p id="username"></p>
        </nav>
        <button id="Create" href="/create-Post">Create New Post</button>
    </div>

    <script src="/static/scripts/main.js" defer></script>
</body>
</html>
